@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{ /*Ao criar este seletor nos conseguimos esconder as Barras de rolagem que antes eram visiveis nesta Imagem deste Documento html.*/
    width: 0px;
    height: 0px;
}
img{
    width: 100vw; /*Aqui nos deixamos a nossa Imagem com a sua Largura completa porque ela será carregada exatamente desta Forma no nosso Projeto onde está o Celular, assim que clicarmos no botão do YouTube esta Página será carregada e esta Página contem esta Imagem.*/

}
a{
    display: block; /* Aqui nos usamos (display: block;), vejá a seguir o que está configuração é capaz de fazer:*/
    /* O display: block; é uma propriedade do CSS que define um elemento como bloco. Isso significa que ele:

    Ocupa toda a largura disponível do contêiner pai.
    Sempre começa em uma nova linha.
    Permite definir largura (width) e altura (height).
    Aceita margins e paddings normalmente.*/

    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    background-color: red;
}